
$navbar-light-active-color:white;

/* Reset some default styles to ensure consistent rendering across browsers */
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

/* Set a background color and font for the entire page */
body {
    font-family: Arial, sans-serif;
	font-size:16px;
    color: #333;
    line-height: 1.6rem;
	 overflow-y: scroll;
	 height:auto;
}


/* Header styles */
.navbar {
background: rgb(0,123,255);
background: linear-gradient(90deg, rgba(0,123,255,1) 0%, rgba(9,9,121,1) 65%, rgba(0,0,0,1) 100%);
    color: #fffff;
    text-align: center;
    padding: 1rem 0;
	
	
	
}
.name {
filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(156deg) brightness(100%) contrast(103%);
}

#logo{

	width:50px;
	height:50px;
	color:white;
}


nav ul {
    list-style-type: none;	
}

nav ul li a {
    display: inline;
    margin-right: 1rem;
	
}
.navbar-nav a{
font-weight: bold;
color:#fff;
}



.nav-item a{color:white;font-weight: bold;}
.nav-item a:hover{color:white;}


b{
	color:white;
}

/* Main content styles */

.rate{
	padding-left:1%;
	font-size:12px;
	font-weight:bold;
	margin-bottom:0%;


}
.hero {
    background-color: #fff;
    padding: 5rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    text-align: center;

 
  height:290px;

}

.banner{
 height: 100vh;
  display: flex;
  margin:auto auto;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.15)  url(images/pic.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  color: white;}
.hero h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
	
}

/* Form styles */
form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input[type="text"] {
    width: 70%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
	border-radius: 5px;
}
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #007bff;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.search-results{
		height:400px;
		background-size:auto;
	
}
/* Search results styles.search-results {
    margin-top: 2rem;
    background-color: #fff;
    padding: 2rem;
	
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
	height:auto;
} */
.col.about{
	border:1px solid lightgrey;
	border-radius:4px;

}
.about:hover{
	border:1px solid #007bff;
	border-radius:4px;

}

/* Footer styles */
footer {
width:100%;
    text-align: center;
    padding: 1rem 0;
    background-color: #09092f;
    color: #fff;
	
  
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {

	body{
		
		font-size: 0.6rem;
	}
	
	
		.hero h2{
  font-size: 1.2rem;

	
}
	.hero label{
  font-size: 0.7rem;

	
}
   footer {
width:100%;
    text-align: center;
    padding: 1rem 0;
    background-color: #09092f;
    color: #fff;
	margin-bottom:auto;
  
}
.hero {
  
	background:white;
}
.col.about{
padding:10px;
	width:auto;

}
.search-results{
		height:400px;
		background-size:auto;
	
}
}


